html, body{
  background-color: white;
  margin: 0;
  color: #2C3E50;
}

.main_content{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.title{
  font-family: Arial, sans-serif;
  text-align: center;
}