.sobre {
    flex: 1;
    display: flex;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.sobre article h1 {
    font-size: 26px;
    margin-bottom: 12px;
}

.sobre article p {
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
}