.produtoPage {
    width: 55vw;
    margin: 8vh auto;
    background-color: #93c1f0;
    border-radius: 4vw;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    padding: 5vh 0;
}

.produtoPage h1 {
    text-align: center;
    margin: 0;
}

.produtoPage hr {
    border-color: #2C3E50;
    margin: 4vh 0;
}

.produtoDetails {
    display: flex;
    align-items: center;
}

.produtoDetails .bold_desc{
    font-weight: 700;
}

.produtoDetails img {
    border-radius: 5%;
    margin: 2vw;
    height: 43vh;
}

.produtoInfo {
    padding: 0 1.5vw;
}

.buy_text{
    font-weight: 700;
    padding: 10px 12px;
}

.buy_text.active {
    background-color: #084298;
    color: white;
    padding: 10px 12px;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    font-weight: 700;
}

.buy_text.active:active{
    transform: scale(0.9);
}

.quant_btns {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    user-select: none;
    font-size: 20px;
}

.quant_btns button {
    background: #2C3E50;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.quant_btns button:hover {
    background: #084298;
    transform: scale(0.9);
}